# Ignorar archivos sensibles y temporales
# Ignorar entorno virtual
.venv/

# Ignorar variables de entorno
.env
env

# Ignorar archivos de Python compilados
__pycache__/
*.py[cod]

# Ignorar archivos de base de datos y logs
*.sqlite3
*.log

# Ignorar archivos del sistema
*.DS_Store
